<div class="using-notice well">
  <h4><i class="fa fa-exclamation-triangle"></i> 利用に関する注意とお願い</h4>
  <p>次の点に配慮して、サービスを利用してください。</p>
  <ul>
    <li>アップロードした解答の、著作権があなたにあること。</li>
    <li>アップロードした解答に、第三者の個人情報が含まれていないこと。</li>
    <li>アップロードした解答に、問題文自体が解答に含まれていないこと。</li>
    <li>他人を誹謗・中傷する内容が含まれていないこと。</li>
  </ul>
</div>
