<div id="about_us">
  <div id="head">
    <h1><i class="fa fa-users"></i> 開発・運営チームについて</h1>
    <p>
      Rocket Answerは、全国の有志の高専生によって設計・開発・運営されています。
      <br>
      開発や運営にジョインしたい方は、お問い合わせフォームからご連絡ください。
    </p>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h2>チームメンバー</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-half-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-user"></i> Hayato Okumoto</h4>
        </div>
        <div class="panel-body">
          <dl>
            <dt>所属</dt>
            <dd>長野高専 5年</dd>

            <dt>担当</dt>
            <dd>
              <ul>
                <li>開発リーダー</li>
                <li>技術総括</li>
                <li>サーバサイド設計・実装</li>
              </ul>
            </dd>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-half-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-user"></i> Kinjo Kodai</h4>
        </div>
        <div class="panel-body">
          <dl>
            <dt>所属</dt>
            <dd>沖縄高専 5年</dd>

            <dt>担当</dt>
            <dd>
              <ul>
                <li>リーダー</li>
                <li>仕様考案・設計</li>
              </ul>
            </dd>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-half-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-user"></i> Ryohma Abe</h4>
        </div>
        <div class="panel-body">
          <dl>
            <dt>所属</dt>
            <dd>長岡高専 5年</dd>

            <dt>担当</dt>
            <dd>
              <ul>
                <li>サポーター</li>
                <li>大学・学科データ作成</li>
              </ul>
            </dd>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-half-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-user"></i> Kazuki Niimi</h4>
        </div>
        <div class="panel-body">
          <dl>
            <dt>所属</dt>
            <dd>鈴鹿高専 4年</dd>

            <dt>担当</dt>
            <dd>
              <ul>
                <li>サーバサイド開発担当</li>
                <li>サーバサイド設計・実装</li>
              </ul>
            </dd>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-half-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-user"></i> Shota Iguchi</h4>
        </div>
        <div class="panel-body">
          <dl>
            <dt>所属</dt>
            <dd>高知高専 3年</dd>

            <dt>担当</dt>
            <dd>
              <ul>
                <li>フロントエンド設計担当</li>
                <li>仕様考案・設計</li>
                <li>画面設計</li>
              </ul>
            </dd>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h2>運営スポンサー</h2>
      </div>
      <ul>
        <li><a href="http://www.kosen-venture.com/">高専ベンチャー</a></li>
      </ul>
    </div>
  </div>
