<%= content_for :title do %>編入体験談投稿機能 リリースキャンペーン<% end %>

<div id="about_us">
  <div id="head">
    <h1><i class="fa fa-trophy"></i> 編入体験談投稿機能 リリースキャンペーン</h1>
  </div>
</div>

<h2>キャンペーン概要</h2>
<p>
  全国の高専生に向けて、編入解答共有サービスを運用してきたRocket Answerに、新たに"編入体験談投稿機能"を実装しました！<br>
</p>
<p>
  これによって、全国の編入希望の高専生に対しさらなる編入に対する情報を提供します。
</p>
<p>
  新機能追加を記念しまして、"編入体験談投稿"キャンペーンを実施します。
</p>
<p>
  さまざまな賞を用意しておりますので是非ともご参加ください！
</p>

<h2>キャンペーン期間</h2>

<ul>
  <li>自：2017/9/12 0:00</li>
  <li>至：2017/10/8 23:59</li>
</ul>


<h2>賞</h2>

<h3>最優秀賞</h3>

<p>キャンペーン期間中に、PV数が一番高かった編入体験談を投稿いただいた方に送られます。</p>

<ul>
  <li><strong>amazonギフト券 1万円分</strong></li>
</ul>


<h3>週刊賞</h3>
<p>各週ごとに注目編入先を選定し、当該大学の編入体験談を記入いただいた方に送られます。</p>

<ul>
  <li><strong>amazonギフト券1千円分</strong></li>
</ul>

<ol>
  <li>9/12-9/17 筑波大学</li>
  <li>9/18-9/24 東京工業大学</li>
  <li>9/25-10/1　？？？（9/24公開予定）</li>
  <li>10/2-10/8　？？？（10/1公開予定）</li>
</ol>

<h3>ニッチ賞</h3>
<p>キャンペーン期間中に、編入体験談の投稿数が一番少ない大学に投稿いただいた方に送られます。（0件は除く）</p>

<ul>
  <li><strong>amazonギフト券 1千円分</strong></li>
</ul>

<h2>参加方法</h2>

<p>Rocket Answerにて、編入体験談を投稿することで参加とみなします。</p>

<%= link_to new_exp_story_path, class: 'btn btn-primary' do %>
  <i class="fa fa-plus"></i>
  &nbsp;
  体験談を投稿する
<% end %>

<h2>当選のご連絡</h2>

<p>
  Rocket Answerにご登録のメールアドレス宛にてご連絡いたします。
</p>

<h2>注意事項</h2>

<ul>
  <li>誹謗中傷など、公序良俗に反する書き込みは厳禁です。</li>
  <li>投稿した編入体験談が体験談としてふさわしくない内容（分量や質などの観点）であると判断した場合は対象としません。</li>
</ul>
