<h1>Editing Exp Story</h1>

<%= render 'form', exp_story: @exp_story %>

<hr>

<p>
  <%= link_to exp_story_path(@exp_story), class: 'btn btn-info btn-sm' do %>
    <i class="fa fa-arrow-left"></i> 戻る
  <% end %>
</p>
