<p id="notice"><%= notice %></p>

<h1><%= @school.name %></h1>
<table class="table table-bordered">
  <tr>
    <th>No.</th>
    <th>学科</th>
    <th>合格率</th>
  </tr>
  <tr>
    <td>1.</td>
    <td><a href="/department.html">XXX学科</a></td>
    <td>50%</td>
  </tr>
  <tr>
    <td>2.</td>
    <td><a href="">YYY学科</a></td>
    <td>50%</td>
  </tr>
</table>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
