.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') 管理画面

    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#')
            i.fa.fa-sign-out
            |  ログアウト