//= require bootstrap/bootstrap
//= require jquery-ui/core
//= require jquery-ui/theme
//= require font-awesome
//= require jquery.fileupload
//= require jquery.fileupload-ui
//= require selectize
//= require selectize.bootstrap3
//= require answers
//= require home
//= require_self

$footer-height: 280px;

html {
  position: relative;
  min-height: 100%;
}

body {
  //background-color: #fdffff;
  padding-bottom: 50+$footer-height;
}

footer {
  background-color: #008cba;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  max-height: $footer-height;

  font-size: 10pt;

  a {
    color: #ffffff;
  }

  h3 {
    font-size: 15pt;
  }
}

#main {
  padding-bottom: 30px;
}

.alert {
  font-size: 13px;
  .message {
    margin-left: 10px;
  }
}

.breadcrumb {
  font-size: 13px;
}

.jumbotron {
  background-color: #f4f9fa;
}

.social_buttons {
  line-height: 28px;
  iframe {
    vertical-align: bottom;
  }
  .twitter-share-button {
    width: 90px !important;
  }
}

.using-notice {
  font-size: 13px;
}
