//= require bootstrap/bootstrap
//= require jquery.ui.all
//= require font-awesome
//= require jquery.fileupload-ui
//= require selectize
//= require selectize.bootstrap3
//= require answers
//= require home
//= require_self

body {
  padding-top: 50px;
  //background-color: #fdffff;
}

#main {
  padding-top: 15px;
  padding-bottom: 30px;
}

.alert {
  font-size: 13px;
  .message {
    margin-left: 10px;
  }
}

.breadcrumb {
  font-size: 13px;
}

.navbar {
  box-shadow: 1px 1px 3px;
}

.jumbotron {
  background-color: #f4f9fa;
}