//= require bootstrap/bootstrap
//= require jquery.ui.all
//= require font-awesome
//= require jquery.fileupload-ui
//= require answers
//= require_self

body {
  padding-top: 50px;
}

#main {
  padding-top: 15px;
  padding-bottom: 30px;
}

.alert {
  font-size: 13px;
  .message {
    margin-left: 10px;
  }
}
