.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #43ac6a;
}

.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #59bbd9;
}

.panel-half-primary {
  border-color: #5b9fcf;
  > .panel-heading {
    color: #ffffff;
    background-color: #5b9fcf;
    border-color: #5b9fcf;
  }
}

#title {
  img {
    width: 100%;
  }
}

#about_service {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0;
  border: solid 1px #43ac6a;
  h1 {
    font-size: 32px;
    background-color: #43ac6a;
    color: #ffffff;
    padding: 15px 0;
    margin-top: 0;
  }
}