.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #43ac6a;
}

.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #59bbd9;
}

.panel-half-primary {
  border-color: #5b9fcf;
  > .panel-heading {
    color: #ffffff;
    background-color: #5b9fcf;
    border-color: #5b9fcf;
  }
}

#title {
  img {
    width: 100%;
  }
  margin-bottom: 20px;
}

#about_service {
  text-align: center;
  margin-bottom: 21px;
  padding: 0;
  border: solid 1px #43ac6a;
  h1 {
    font-size: 32px;
    background-color: #43ac6a;
    color: #ffffff;
    padding: 15px 0;
    margin: 0;
  }
  .text {
    padding: 15px 15px;
  }
}

#about_us {
  //text-align: center;
  #head {
    h1 {
      padding-bottom: 20px;
      margin-bottom: 30px;
      border-bottom: solid 1px #f0f0f0;
    }
  }
  dd {
    padding-left: 1.5em;
  }
}
