<h2>Rocket Answer - パスワードの再設定</h2>

<p>Rocket AnswerのパスワードリセットのURLをご案内します。</p>

<p><%= link_to 'パスワードを変える', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、このメールに心当たりが無い場合は無視してください。</p>
