<% breadcrumb :universities %>

<h1>学校一覧</h1>

<div class="page-header">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>設置</th>
        <th>学校名</th>
        <th>投稿解答数</th>
      </tr>
    </thead>

    <tbody>
      <% @universities.each do |university| %>
        <tr>
          <td><%= university.establishment %></td>
          <td><%= link_to university.name, university %></td>
          <td><%= university.answers.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>