<h1>学校一覧</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>種類</th>
      <th>設立</th>
      <th>学校名</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @universities.each do |university| %>
      <tr>
        <td><%= university.type %></td>
        <td><%= university.establishment %></td>
        <td><%= university.name %></td>
        <td><%= link_to '詳細', university %></td>
      </tr>
    <% end %>
  </tbody>
</table>