<% breadcrumb @university %>

<div class="page-header">
  <h1><%= @university.name %></h1>
</div>

<% @university.departments.each_slice(3) do |deps| %>
  <div class="row">
    <% deps.each do |dep| %>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="fa fa-sitemap"></i>
            <%= dep.name %>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <% dep.answers.limit(5).each do |answer| %>
                <li>
                  <span class="label label-info">
                    <i class="fa fa-thumbs-o-up"></i>
                    12
                  </span>
                  &nbsp;
                  <%= link_to answer.name, answer_path(answer) %>
                </li>
              <% end %>
            </ul>
            <div class="pull-right">
              <%= link_to university_department_path(@university, dep),
                class: 'btn btn-xs btn-info' do %>
                <i class="fa fa-list"></i>
                全て表示
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>